h1{
    text-align: center;
    color: #010c0e;
}
h2{
    text-align: center;
    color: #148fad;
}
.header{
    margin: 10mm;
    background-color: #3cff00;
    display: flex;
    justify-content: center;
    padding-top: 1%;
}


body {
    background-color: #69aed6;
}